<!doctype html>
<html>
	<head>
			<style>
					h2 {
						background-color:rgb(105, 130, 153);
					  }
					  
					img {
						background-color:bisque;
					}
					  
					p {
						background-color: #7700ff;
					}
					.center {
  						display: block;
  						margin-left: auto;
  						margin-right: auto;
  						width: 20%;
					}
			</style>
					
	</head>
	<body>
			<img border="0" src="https://vke.cloud.vmware.com/assets/images/cascade-csp-service.svg" class="center"/>
			<img border="0" src="https://jenkins-x.io/images/logo.png" class="center"/>
			<h2>Hello express app <p><%= appname %> </p>
				deployed by Jenkins X running on<br>
				<p>node: <%= hostname %></p></h2>
</div>
	</body>
</html>
