<!doctype html>
<html>
	<head>
			<style>
					h2 {
						background-color:rgb(255, 115, 0);
					  }
					  
					  img {
						background-color:bisque;
					  }
					  
					  p {
						background-color: #7700ff;
					  }
			</style>
					
	</head>
	<body>
			<img border="0" src="https://jenkins-x.io/images/logo.png" width="300" height="300" />
			<img border="0" src="https://vke.cloud.vmware.com/assets/images/cascade-csp-service.svg" width="300" height="300" />
			<h2>Hello express app <p><%= appname %> </p>
				deployed by Jenkins X running on<br>
				<p>node: <%= hostname %></p></h2>
</div>
	</body>
</html>
